In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv('https://docs.google.com/spreadsheets/d/1jfU2oFSfhX1ywUbqETExDJuztO95r3h6pbWAm7xpwNY/gviz/tq?tqx=out:csv&sheet=users')
df.head()

,sex,length,diameter,height,whole_weight,shucked_weight,viscera_weight,shell_weight,rings
0,M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.150,15
1,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.070,7
2,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.210,9
3,M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.155,10
4,I,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.055,7

1. Is this a balanced data set?

2. Be sure to scale your data (try using the pipeline!)

3. What is the accuracy of your default model?

4. What is the optimal accuracy you can achieve by tuning the value of K using KNN?

5. Create a confusion matrix for your optimal KNN model.

## Is this a balanced dataset?

In [5]:
df['sex'].value_counts(normalize = True)

M    0.365813
I    0.321283
F    0.312904
Name: sex, dtype: float64

Yes